/* *************************************************** UBICACION *************************************************** */
.map {
    margin: 0%;
  
    .descripcionMap {
      text-align: center;
      font-size: 1.5rem;
    }
  }
  