/* *************************************************** NOSOTROS *************************************************** */
.contenedorNosotros {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
  
    .textoNosotros {
      margin: 0%;
    }
  
    .formNosotros {
      font-family: 'Playfair Display', serif;
      size: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
    .formularioNosotros input{
      height: 40px;
      width: 50%;
      margin: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      outline: none;
    }
    .botonNosotros{
      margin: 15px 0;
    }
    .botonNosotros button{
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      display: block;
      font-size: 20px;
      color: #fff;
      border: none;
      border-radius: 5px;
      background-image: linear-gradient(to right, #dab22f, rgb(104, 95, 95));
      cursor: pointer;
      
    }
    .botonNosotros button:hover{
      background-image: linear-gradient(to right, #d1ad36, rgb(48, 44, 44));
    }
  }
  
  .contenedorRedes {
    margin: 0;
  
    .social {
      text-align: center;
    }
  
    .redesSociales {
      display: flex;
      justify-content: center;
    }
  
    .redes {
      margin-left: 30px;
    }
  }
  