/* **************************************************** MIXIN **************************************************** */
@mixin footer{
    text-align: center;
    font-size: 1rem;
    margin-top: 200px;
}

.footer{
    @include footer;
}